body {
  font-family: Arial, sans-serif;
  background-size: cover;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-container {
  background-color: #e2e2db;
  padding: 20px 40px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.login-container img {
  width: 50px;
}
.login-container h2 {
  margin: 20px 0;
  font-size: 20px;
  color: #333;
}
.login-container button {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}
.google-button {
  background-color: #ffffff;
  color: #000;
  border: 1px solid #ddd;
}
.email-button {
  background-color: #ffffff;
  color: #000;
  border: 1px solid #ddd;
}
.member-button {
  background-color: #00b894;
  color: #fff;
}
.admin-button {
  background-color: #00b894;
  color: #fff;
}
