<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>web wisata</title>
    <title>TRAVEL QUARTET</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <!-- icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
    <!-- css -->
    <link rel="stylesheet" href="../view/style.css" />

     <!--========= google font link ========-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Open+Sans">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  </head>
  <body>
     <!-- Navbar -->
  <div class="container-xxl position-relative p-0">
    <nav class="navbar navbar-expand-lg px-4 px-lg-5 py-3 py-lg-0">
      <a href="../../index.html" class="navbar-brand p-0">
        <img class="logo" src="../../LOGO.jpg" alt="logo" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="fa fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ms-auto py-0 pe-4">
          <li class="nav-item">
            <a class="nav-link" href="#home"><b>Telusuri</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about"><b>Trip</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><b>Ulasan</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../login.html"><b>Login</b></a>
          </li>
        </ul>
        <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
      </div>
    </nav>
  </div>
  <!-- End Navbar -->

    <!-- Secondary Navigation -->
  <div class="secondary-nav">
    <ul>
      <li class="nav-item">
        <a class="nav-link" href="../../index.html"><i class="bi bi-search"></i> <b>Cari Semua</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../../index.html"><i class="bi bi-geo-alt"></i> <b>Jawa Tengah</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../kuliner.html"><i class="bi bi-cup-straw"></i> <b>Kuliner</b></a>
      </li>
    </ul>
  </div>

    <!-- carousel -->
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../kuliner/img/smg/lumpia.webp" class="d-block w-100" alt="gambar1" style="width: 100%; height: 600px; object-fit: cover"/>
        </div>
        <div class="carousel-item">
          <img src="../kuliner/img/smg/Lumpia Gang Lombok/2.jpg" class="d-block w-100" alt="gambar2" style="width: 100%; height: 600px; object-fit: cover" />
        </div>
        <div class="carousel-item">
          <img src="../kuliner/img/smg/Lumpia Gang Lombok/3.jpg" class="d-block w-100" alt="gambar3" style="width: 100%; height: 600px; object-fit: cover"/>
        </div>
        <div class="carousel-item">
          <img src="../kuliner/img/smg/Lumpia Gang Lombok/1.jpg" class="d-block w-100" alt="gambar3" style="width: 100%; height: 600px; object-fit: cover" />
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div> <br><br>
    <!-- end carosel -->
     <div class="destination_banner_wrap overlay">
        <div class="destination_text text-center">
            <h1>Lumpia</h1>
            <p></p>
        </div>
    </div>

    <!-- isi -->
      <div class="destination_details_info">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-9">
                    <div class="destination_info">
                        <!-- <h4>Deskripsi</h4> <br> -->
                        <p>Di antara banyaknya kedai lumpia di Semarang, ada salah satu kedai yang punya cerita unik dan menarik. Kedai tersebut bernama Loenpia Semarang Gang Lombok.</p>
                        <p>Di antara banyaknya kedai lumpia di Semarang, ada salah satu kedai yang punya cerita unik dan menarik. Kedai tersebut bernama Loenpia Semarang Gang Lombok.</p>
                        <p>Sesuai dengan namanya, letak kedai ini ada di kawasan Pecinan Semarang, tepatnya di Gang Lombok, Nomor 11, Purwodinatan, Kota Semarang.</p>
                        <p>Bangunannya tidak megah, di pojok sisi jalan, bersebelahan dengan Kelenteng Tay Kak Sie. Beberapa orang tampak duduk mengantre di depan besek-besek yang tertata rapi di atas meja.</p>
                    </div>  
                </div>
            </div>
        </div> 
    </div> <br><br><br><br>
    <!-- end isi -->

    <!-- konten -->
    <div class="gallery-wrapper" id="paket-wisata">
      <div class="container"> <br>
        <div class="flex-column">
          <div class="heading">
            <h2>More place</h2>
          </div>
          <div class="flex-row">
              <div class="content">
                <a href="../kuliner/food/smg.html" target="_blank">
                  <div class="content-overlay"></div>
                  <img class="content-image" src="../kuliner/img/smg/lumpia.webp" alt="bali">
                  <div class="content-details fadeIn-top">
                    <h3>Semarang</h3>
                  </div>
                </a>
              </div>

              <div class="content">
                <a href="../kuliner/food/mgl.html" target="_blank">
                  <div class="content-overlay"></div>
                  <img class="content-image" src="../kuliner/img/mgl/ikan/1.webp" alt="bali">
                  <div class="content-details fadeIn-top">
                    <h3>Magelang</h3>
                  </div>
                </a>
              </div>

              <div class="content">
                <a href="../kuliner/food/salatiga.html" target="_blank">
                  <div class="content-overlay"></div>
                  <img class="content-image" src="../kuliner/img/smg/Soto Bangkong/11.jpg" alt="bali">
                  <div class="content-details fadeIn-top">
                    <h3>Salatiga</h3>
                  </div>
                </a>
              </div>
          </div>
          <div class="flex-row">
            <div class="content">
              <a href="../kuliner/food/wonosobo.html" target="_blank">
                <div class="content-overlay"></div>
                <img class="content-image" src="../kuliner/img/Wonosobo/Opak Singkong/1.jpeg" alt="bali">
                <div class="content-details fadeIn-top">
                  <h3>Wonosobo</h3>
                </div>
              </a>
            </div>

            <div class="content">
              <a href="../kuliner/food/solo.html" target="_blank">
                <div class="content-overlay"></div>
                <img class="content-image" src="../kuliner/img/Solo/Selat Solo/2.jpeg" alt="bali">
                <div class="content-details fadeIn-top">
                  <h3>Surakarta</h3>
                </div>
              </a>
            </div>

            <div class="content">
              <a href="../kuliner/food/kebumen.html" target="_blank">
                <div class="content-overlay"></div>
                <img class="content-image" src="../kuliner/img/Kebumen/Sate Ambal/1.jpeg" alt="bali">
                <div class="content-details fadeIn-top">
                  <h3>Kebumen</h3>
                </div>
              </a>
            </div>
          </div>
       </div>
      </div>
    </div> <br><br>

    <!-- footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">
              "Selamat datang di Travel Quartet (Dolan Bareng, Explore The World), destinasi online untuk pencinta petualangan! Di sini, kami menyajikan rekomendasi wisata terbaik di Jawa Tengah yang akan memikat Anda dengan keindahan
              alamnya dan kekayaan budayanya. Temukan petualangan baru dan nikmati pengalaman tak terlupakan di berbagai destinasi yang kami sajikan. Mulailah perjalanan Anda bersama kami dan jadikan setiap momen di Jawa Tengah sebagai
              pengalaman yang menginspirasi."
          </p>
        </div>
    <div class="col-xs-6 col-md-3">
      <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="#">Telusuri</a></li>
          <li><a href="#">Trip</a></li>
          <li><a href="#">Ulasan</a></li>
          <li><a href="#">Daftar/Masuk</a></li>
        </ul>
      </div>

    <div class="col-xl-3 col-md-6 col-lg-3">
      <div class="footer_widget">
        <h6>Instagram</h6>
          <div class="instagram_feed">
          <div class="single_insta">
            <a href="#">
              <img src="../gambar/instagram/1.png" alt="">
            </a>
          </div>
          <div class="single_insta">
            <a href="#">
              <img src="../gambar/instagram/2.png" alt="">
            </a>
          </div>
          <div class="single_insta">
            <a href="#">
              <img src="../gambar/instagram/3.png" alt="">
            </a>
          </div>
          <div class="single_insta">
            <a href="#">
              <img src="../gambar/instagram/4.png" alt="">
            </a>
          </div>
          <div class="single_insta">
            <a href="#">
              <img src="../gambar/instagram/5.png" alt="">
            </a>
          </div>
          <div class="single_insta">
            <a href="#">
              <img src="../gambar/instagram/6.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
  </div>
  
  <div class="container">
    <div class="row">
      <div class="copyright-text">
        <p style="text-align: center;">Copyright &copy; 2024 All Rights Reserved by <a href="#">TRAVELQUARTET</a>.</p>
    </div>
  </div>
  </div>
  </footer>
  <!-- end footer -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
    $(document).ready(function(){
    $(".wish-icon i").click(function(){
    $(this).toggleClass("fa-heart fa-heart-o");
      });
    });	
</script>
  </body>
</html>
